page-email-verification {
    ion-content{
        background-color: #F4F4F4 !important;
    }
    ion-header{
        background-color: #5F43AB !important;
        height: 60px;
    }
    ion-buttons button[icon-only].my-style-for-modal {
        margin: 0 6px;
        min-width: 36px;
     }
     ion-icon{
         font-size: 28px !important;
         font-weight: 500 !important;
         color:  white !important;
         margin-top: 15px !important;
     }
    p{
        font-size: 16px;
        font-weight: 100;
        text-align: justify;
    }
    .input{
        color:black !important;
        ::placeholder{
            color: #5F43AB !important;
        }
    }
    .btn1{
        background-color: #F4F4F4;
        border-radius: 8px !important;
        border-color: #5F43AB !important;
        border: 1px solid white;
        color:#5F43AB !important; 
    }
    .input1{
        border-bottom: 1px solid #5F43AB;
    }
    .input2{
        border-bottom: 1px solid #5F43AB;
    }
    a{
        color: #5F43AB !important;
        font-size: 17px;
        font-weight: bold;
    }
}
