page-suggest-correction {
    ion-content{
        background-color: #F4F4F4 !important;
    }
    ion-header{
        background-color: #5F43AB !important;
        height: 60px;
    }
    
    .title{
        text-align: center !important;
    }
    h1{
        text-align: center !important;
    }
    .row{
        padding-bottom: -10px !important;
    }
   
    .row{
        text-align: center !important;
    }
    ion-grid{
        background-color: #F4F4F4 !important;

    }
    .input{
        color:black !important;
    }
    .btn1{
        background-color: #F4F4F4;
        border-radius: 8px !important;
        border-color: #5F43AB !important;
        border: 1px solid white;
        color:#5F43AB !important;
        
    }
    p{
        margin-top: -2px !important;
        font-size: 17px !important;
    }
    #para{
        margin-top: -2px !important;
    }
   
    .input{
        font-size: 10px !important;
    }
    .alert-button-group{
        background: #5F43AB !important;
    }
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: initial !important;
        font-weight: bold !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        border-radius: 10px;
        top: 5px;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #ccc;
    }
    
   
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #5F43AB;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    


    
    .back-button{
        display: initial !important;
    }
    .toolbar-title-md{
        margin-left: -3rem  !important;
        text-align: center !important;
        }
        .toolbar-title{
            width: 100% !important;
        }
        .back-button-icon-md{
            font-size: initial !important;
        }
        .back-button-icon-ios {
            font-size: initial !important;
        }
        .bar-button-default-md,
      .bar-button-clear-md-default,
      .bar-button-md-default {
        display: inline !important;
        margin-top: 10px !important;
    
      }
    
      .bar-button-default-ios,
      .bar-button-default.bar-button-ios-default,
      .bar-button-clear-ios-default {
        display: inline !important;
        margin-top: 10px !important;
    
      }

    
}
