page-forgot-password {
    ion-content{
        background-color: #F4F4F4 !important;
    }
    ion-header{
        background-color: #5F43AB !important;
        height: 60px;
    }
    .header-ios{
        height: 70px !important;
    }
    p{
        font-size: 16px;
        font-weight: 100;
        text-align: justify;
    }
    
    .toolbar-title-md{
        margin-left: -3rem  !important;
        text-align: center !important;
        }
        .toolbar-title{
            width: 100% !important;
        }
        .back-button-icon-md{
            font-size: initial !important;
        }
        .back-button-icon-ios {
            font-size: initial !important;
        }
        .bar-button-default-md,
      .bar-button-clear-md-default,
      .bar-button-md-default {
        display: inline !important;
        margin-top: 10px !important;
    
      }
    
      .bar-button-default-ios,
      .bar-button-default.bar-button-ios-default,
      .bar-button-clear-ios-default {
        display: inline !important;
        margin-top: 5px !important;
    
      }





    .input{
        color:black !important;
    }
    .btn1{
        background-color: #F4F4F4;
        border-radius: 8px !important;
        border-color: #5F43AB !important;
        border: 1px solid white;
        color:#5F43AB !important;
        
    }
    .btn1:active{
        background-color: #F4F4F4 !important;

    }
    .btn1:focus{
        background-color: #F4F4F4 !important;

    }

}
