page-home {
    ion-content{
        background-color: #F4F4F4 !important;
    }
    ion-header{
        background-color: #5F43AB !important;
        height: 60px;
    }
    p{
        font-size: 16px;
        font-weight: 100;
        text-align: justify;
    }
    .input{
        color:black !important;
        ::placeholder{
            color: #5F43AB !important;
        }
    }
    .btn1{
        text-align: center !important;
        width:150px !important;
        background-color: #5F43AB;
        border-radius: 8px !important;
        color:white !important; 
    }
    .input1{
        border-bottom: 1px solid #5F43AB;
    }
    .input2{
        border-bottom: 1px solid #5F43AB;
    }
    a{
        color: #5F43AB !important;
        font-size: 17px;
        font-weight: bold;
    }
    h1{
        text-align: center !important;
        color: #5F43AB !important;
        font-size: 20px !important;
        font-weight: bold !important;
    }
    h4{
        font-size: 12px !important;
    }
    hr{
        height: 2px !important;
    }
    #heading{
        color: grey !important;
        text-align: center !important;

    }
    h5{
        color: #5F43AB !important;
        font-size: 12px !important;
    }
    // #col{
    //     margin-left:  !important;
    // }
}

