page-reqest-exam {
    ion-content{
        background-color: #F4F4F4 !important;
    }
    ion-header{
        background-color: #5F43AB !important;
        height: 60px;
    }
    .title{
        text-align: center !important;
    }
    h1{
        text-align: center !important;
    }
    .row{
        padding-bottom: -10px !important;
    }
   
    .row{
        text-align: center !important;
    }
    ion-grid{
        background-color: #F4F4F4 !important;

    }
    .input{
        color:black !important;
    }
    .btn1{
        background-color: #F4F4F4;
        border-radius: 8px !important;
        border-color: #5F43AB !important;
        border: 1px solid white;
        color:#5F43AB !important;
        
    }
    .btn1:active{
        background: #F4F4F4 !important;
    
       }
       .btn1:focus{
        background: white !important;
       }
    p{
        margin-top: -2px !important;
        font-size: 17px !important;
    }
    #para{
        margin-top: -2px !important;
    }





    .back-button{
        display: initial !important;
    }
    .toolbar-title-md{
        margin-left: -3rem  !important;
        text-align: center !important;
        }
        .toolbar-title{
            width: 100% !important;
        }
        .back-button-icon-md{
            font-size: initial !important;
        }
        .back-button-icon-ios {
            font-size: initial !important;
        }
        .bar-button-default-md,
      .bar-button-clear-md-default,
      .bar-button-md-default {
        display: inline !important;
        margin-top: 10px !important;
    
      }
    
      .bar-button-default-ios,
      .bar-button-default.bar-button-ios-default,
      .bar-button-clear-ios-default {
        display: inline !important;
        margin-top: 10px !important;
    
      }







    .input{
        // text-align: center !important;
        font-size: 10px !important;
        ::placeholder { 
            color: rgb(109, 106, 106) !important;
            font-size: 14px !important;
;
          }
    }
    .alert-button-group{
        background: #5F43AB !important;
    }
}
