page-examination {
    ion-content{
        background-color: #F4F4F4 !important;
        // margin-top: 15px !important;
    }
    ion-header{
        background-color: #5F43AB !important;
        height: 165px;
    }
    ion-title{
        margin-bottom: -0.5em !important;
        margin-top: 0.5em !important;
    }
    #icon{
        font-size: 28px !important;
         font-weight: 500 !important;
         color:  white !important;
         margin-top: 15px !important;
    }
    #title{
        padding-top: 20px !important;
    }
    li{
        font-size: 18px !important;
        margin: 10px !important;
    }
    p{
        font-size: 16px;
        font-weight: 100;
    }
    .input{
        color:black !important;
    }
    .btn1{
        background-color: #F4F4F4;
        border-radius: 15px !important;
        color:black !important;
        font-size: 0.9em !important;
        height: 18px !important;

    }

    h1{
        text-align: center !important;
        color: black !important;
        // padding-top: 9px !important;
    }
    #para{
        // padding-top: 5px !important;
        line-height: 3px !important;
        font-size: 16px;
        font-weight: 100;
        text-align: center !important;
        color: black !important;
    }
    ion-icon{
        font-size: 1.73em !important;
    }
    ion-card-content{
        word-spacing: normal !important;
    }
    #card-p{
        word-spacing: normal !important;
        margin-top: -1.5em !important;
        font-size: x-small !important;
   }
   ion-card{
    border-radius: 8px !important;

   }
   hr{
    height: 2px !important;

   }
   #paragraph{
    word-spacing: normal !important;
    text-align: center !important;

   }
   .back-button.show-back-button{
       display: none !important;
   }
   .btn2{
       text-align: center !important;
       width: 150px !important;
    background-color: white !important;
    border-radius: 4px !important;
    border-color: #5F43AB !important;
    height: 40px !important;
    border: 1px solid white;
    color:#5F43AB !important;
    font-weight: 400 !important;

}
a{
    color: #5F43AB !important;
}
.radio{
    padding-left: 1em !important;
    font-weight: bold !important;
}
.btn{
    text-align: center !important;
    width: 150px !important;
    height: 40px !important;
 background-color: #5F43AB !important;
 border-radius: 4px !important;
 color:white !important;
 font-weight: 400 !important;

}
.btn1{
    text-align: center !important;
    width: 300px !important;
 background-color: white !important;
 border-radius: 4px !important;
 border-color: #5F43AB !important;
 height: 40px !important;
 border: 1px solid white;
 color:#5F43AB !important;
 font-weight: 400 !important;

}
ion-footer{
    margin-top: 12px !important;
}
h4{
    color: white !important;
    text-align: center !important;
}
#question{
    color:  white !important;
    margin-left: 0.5em !important;
}
#marks{
    color: white !important;
    text-align: right !important;
   // margin-top: -1.8em !important;
    margin-right: 0.8em !important;
}
.alert-button-group{
    background: #5F43AB !important;
}
.alert-ios{
    background: #5F43AB !important;
}
.btnsave{
    text-align: center !important;
    width: 150px !important;
    height: 40px !important;
 background-color: green !important;
 border-radius: 4px !important;
 color:white !important;
 font-weight: 400 !important;

}
}
