page-email-verification-success {
    ion-content{
        background-color: #F4F4F4 !important;
    }
    ion-header{
        background-color: #5F43AB !important;
        height: 65px;
    }
    // ion-title{
    //     margin-top: 5px !important;
    // }
    ion-icon{
        font-size: initial !important;
        font-weight: 500 !important;
        color:  white !important;
        margin-top: 12px !important;
    }
    
    .btn1  {
        background-color: #5F43AB !important;
    }
    
    .btn1:focus {     
        background-color:#5F43AB !important;    
    }
    p{
        font-size: 16px;
        font-weight: 100;
        text-align: justify;
    }
    .row{
        padding-bottom: -10px !important;
    }
    #p{
        font-size: 26px;
        font-weight: 100;
        text-align: center !important;
        margin-top:20px !important;
    }
    h4{
        text-align: center !important;
        margin-top:2px !important;

    }
    .row{
        text-align: center !important;
    }
    ion-grid{
        background-color: #F4F4F4 !important;

    }
    .input{
        color:black !important;
    }
    .btn1{
        background-color: #5F43AB;
        border-radius: 8px !important;
        border: 1px solid white;
        color: white !important;
        
    }
    .back-button-text-ios {
    margin-top: 10px !important;    
    }
    // .button-ios{
    //     background-color: #F4F4F4 !important;
    // }
   
}
